<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

   <title>Track My Studies</title>

    <!-- Bootstrap and CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/TrackMyStudies.css" rel="stylesheet" type="text/css" />
 
    <!-- Font Awesome - using my own kit -->
    <script src="https://kit.fontawesome.com/5c19bf284e.js" crossorigin="anonymous"></script>

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet"/>

    <!-- JavaScript functions -->
    <script src="js/TrackMyStudies.js"></script>

    <!-- JS function when page is loaded-->
    <script>
        window.addEventListener("load", function() {
            //Sum of the hours
          let {fHourTotal, pHourTotal}  = calculateHour('menuTable');
            document.forms[1].txtHourPlanned.value =fHourTotal; 
            document.forms[1].txtHourDone.value =pHourTotal; 
            //Display the sum
            document.querySelector("#calcHour").addEventListener("click", function() {
                  let {fHourTotal, pHourTotal}  = calculateHour('menuTable');
                  document.forms[1].txtHourPlanned.value=  fHourTotal;
                  document.forms[1].txtHourDone.value= pHourTotal;
            });
        });
    </script>
</head>

<body>
  <!-- Using some NavBar funcionalities from previous self-development project -->
  <!-- http://www.jadysilva.com -->
  <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-dark navbar-expand-md py-0 fixed-top" >
     <a href="#" class="navbar-brand"><i class="fas fa-book"></i></span> TMS</a>
     <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navbar" >
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="about.html" class="nav-link">ABOUT</a>
        </li>
      </ul>
    </div>
    </nav>
  
  <!-- Jumbotron -->
  
   <div class="container sticky-top"> 
    <section id="jumbotron" class="jumbotron text-center mt-5">
      <h2> Track My Studies</h2>
      <p><i class="fas fa-pen"></i>Add activities. Manage your studies</p>
        <div class="container-fluid">
           
            <!--Top Form -->
            <form action="/" method="POST" class="form-inline justify-content-center" role="form">
            <!-- <form enctype="application/json" action="/post/json" method="post" class="form-inline justify-content-center" role="form"> -->
               <div class="form-group">
                <select class="form-control" name="sec_n" id="foo">
                    <option value="0">Databases</option>
                    <option value="1">IWA</option>
                    <option value="2">Data Structure</option>
                    <option value="3">Lab</option>
                </select>
               </div>     
               <label class="sr-only" for="inlineFormInputName2">Subject</label>
                 <input type="text" name="assignement" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Add an activity"/>
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text ">Time</div>
                    </div>
                       <div class="col-xs-2">
                        <input type="text" value="" name="hoursPlanned" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Hours Planned"/>
                        <input type="text" name="hoursDone" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Hours Done"/>
                    </div>
                   </div>
                        <button type="submit" class="btn btn-outline-light mb-2">Add new activity</button>
                </form>

                     <!-- <p><i class="fas fa-trash-alt"></i> Select an activity to be deleted</p>
                     <button id="delete" class="btn btn-outline-light mb-2">Delete activity</button> -->
            </div>
    </section>
 </div>

  <!-- Page Content -->
<div class="todo-container">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-striped">
<thead>
<tr>
<th></th>
<th>Assignment</th>
<th>Hours Planned</th>
<th>Hours Done</th>
</tr>
</thead>
<tbody>
<%activity.forEach(function(activity) {%>
<tr>
<td>
    <a href="/put/<%= activity._id %>" class="edit"><span class="fas fa-edit"></span>
    <a href="/delete/<%= activity._id %>" class="remove"><span class="fas fa-times"></span>
</td>
<td><%=activity.assignement%></td>
<td><%=activity.hoursPlanned%></td>
<td><%=activity.hoursDone%></td>
</tr>
<%});%>
</tbody>
</table>
</div>
</div>



    
        
    

  <!-- Bottom navbar -->
  <nav class="navbar  py-0 fixed-bottom navbar-light" id="bottomNav" style="background-color: rgb(240, 186, 8)">  
   <a class="navbar-brand" href="#"><i class="fas fa-hourglass-end"></i> CALCULATE HOURS</a>
   <form class="form-inline" id="calcHours">
     <input type="text" class="form-control" aria-label="Total" name="txtHourPlanned">
     <input type="text" class="form-control" aria-label="Total" name="txtHourDone">
     <button class="btn btn-sm btn-outline-dark my-2 my-sm-0" type="submit" name="btnCalcHour" value="CalcHour" id="calcHour" placeholder="Planned" aria-label="Search">Calculate</button>
    </form>
  </nav>
                    
 <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="jquery/table.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
